@inject ProjectService _projectService
@inject NavigationManager NavigationManager
@page "/"

@if (projects == null || projects.Count == 0)
{
    <div class="empty-project-wrapper">
        <EmptyInstructions />
    </div>
}
else
{
    <div class="statistics-wrapper">
        <div class="statistics-overview">
            <Changelog.Shared.Statistics.StatisticsOverview />
        </div>

        <div class="statistics-latest-releases">
            <h3>Latest updates</h3>

            <Changelog.Shared.Statistics.LatestReleases />
        </div>
    </div>

    <h2 class="my-4">Projects</h2>

    <ProjectsGrid projectsWithSortedReleases="projects" />
}

@code {
    private IList<Project> projects { get; set; }

    protected override void OnInitialized()
    {
        projects = _projectService.GetProjectsWithReleases(releaseLimit: 1, includeHidden: false);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // If you only have one project, you don't need a nice summary page of all your projects.
        // Redirect to the one project instead.
        if (projects.Count == 1)
        {
            var onlyProject = projects.First();
            NavigationManager.NavigateTo($"/project/{onlyProject.Id}");
        }
    }
}
