@page "/admin/project/new"
@attribute [Authorize]

@using Changelog.Data
@inject ProjectService _projectService
@inject NavigationManager NavigationManager


<h3>AdminCreateProject</h3>

<EditForm Model="project" OnValidSubmit="CreateProject">
    <Changelog.Shared.EditForms.ProjectEditForm project="@project" />

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private Project project { get; set; } = new Project();

    private void CreateProject()
    {
        _projectService.AddProject(project.Name, project.UrlSlug, project.Description, project.Hidden, project.SortOrder);
        NavigationManager.NavigateTo("/admin/project", true);
    }
}
