@page "/admin/project/{projectId:int}/edit"
@attribute [Authorize]

@using Changelog.Data
@inject ProjectService _projectService
@inject NavigationManager NavigationManager


<h3>AdminEditProject</h3>

@if (failedToLoad)
{
    <div>Failed to load the project. Try again later.</div>
}
else
{
    <EditForm Model="project" OnValidSubmit="UpdateProject">
        <Changelog.Shared.EditForms.ProjectEditForm project="@project" />

        <button type="submit" class="btn btn-primary">Update</button>
    </EditForm>
}

@code {
    [Parameter]
    public int projectId { get; set; }

    private Project project { get; set; }

    private bool failedToLoad { get; set; } = false;

    protected override void OnParametersSet()
    {
        project = _projectService.GetProjectById(projectId, includeHidden: true);

        if (project == null)
        {
            failedToLoad = true;
        }
    }

    private void UpdateProject()
    {
        _projectService.UpdateProject(projectId, project.Name, project.Description, project.Hidden, project.SortOrder);
        NavigationManager.NavigateTo("/admin/project", true);
    }
}
