<div>
    <label for="name" class="form-label">Name</label>

    <InputText id="name" @bind-Value="project.Name" class="form-control" />
</div>

<div>
    <label for="desc" class="form-label">Description</label>

    <InputText id="desc" @bind-Value="project.Description" class="form-control" />
</div>

<div>
    <label for="sort" class="form-label">Sort order (sidebar)</label>

    <InputNumber id="sort" @bind-Value="project.SortOrder" class="form-control" />
</div>

<div>
    <label for="hidden" class="form-label">Hidden/disabled</label>

    <InputCheckbox id="hidden" @bind-Value="project.Hidden" />
</div>

<DataAnnotationsValidator />

<ValidationSummary />

@code {
    [Parameter]
    public Project project { get; set; }
}