<div>
    <h1 class="heading">Where is everything? 🕵️</h1>
    <p>There is nothing here. You should start by creating a new project, then adding releases to that project.</p>
    <p>
        To add projects or releases, access the admin menu from:
        <ul>
            <li>
                <b>Desktop</b>:
                the cogwheel button <span class="oi oi-cog" aria-hidden="true"></span> in the bottom left corner
            </li>

            <li>
                <b>Phone</b>:
                the hamburger menu <span class="oi oi-menu" aria-hidden="true"></span> on the top right of your screen,
                then click on the the cogwheel button <span class="oi oi-cog" aria-hidden="true"></span>
            </li>
        </ul>
    </p>
</div>