@using Markdig;

<div class="markdown-max-width @(RemoveLastMarginBottom ? "remove-last-margin-bottom" : "")">
    @((MarkupString) markdownAsHtml)
</div>

@code {
    [Parameter]
    public string markdown { get; set; }

    [Parameter]
    public bool RemoveLastMarginBottom { get; set; } = false;

    private string markdownAsHtml { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(markdown))
            markdownAsHtml = "";
        else
            markdownAsHtml = Markdown.ToHtml(markdown);
    }
}
