@using Markdig;

<div class="markdown-max-width">
    @((MarkupString) markdownAsHtml)
</div>

@code {
    [Parameter]
    public string markdown { get; set; }

    private string markdownAsHtml { get; set; }

    protected override void OnParametersSet()
    {
        markdownAsHtml = Markdown.ToHtml(markdown);
    }
}

<style>
    .markdown-max-width * {
        max-width: 100%;
    }
</style>