.ranked-release-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    color: inherit; /* Removes styling from <a> */
    text-decoration: inherit; /* Removes styling from <a> */
}

.ranked-release-rank {
    font-size: 18px;
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: calc(40px - 8px - 8px); /* calc(height - padding-bottom - padding-top) */
    flex-grow: 0; /* Will look squished or stretched on mobile without this */
    flex-shrink: 0; /* Will look squished or stretched on mobile without this */
}

.ranked-release-text-wrapper {
    max-width: calc(100% - 56px); /* Avoids it overflowing its parent. 56px = size of rank number circle (40px) + wrapper flex gap (16px) */
}

.ranked-release-heading {
    display: block;
    margin: 0;
}
