@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your account has been created, but is awaiting activation.
    Please contact an existing user/admin and ask them to confirm your account.
    You will not be able to login until your account has been activated.
</p>


